.custom-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .book-image {
    width: 100%; /* 100%-os szélesség */
    height: 500px; /* Fix magasság például 200px */
    object-fit: cover; /* A kép méretarányának megőrzése és kitöltése */
  }